.table-card{
    position: relative;
    padding: 1.5em 0 0 0;
    background-color: var(--secondary-background-color);
    border: 2px solid var(--card-border-color);
    border-radius: 12px;
    overflow: hidden;
}

.custom-table { /*WARNING - MODIFYING BOOTSTRAP VARIABLES*/
    --bs-table-bg: var(--main-background-color)!important;
    --bs-table-striped-bg: var(--secondary-background-color) !important;
    --bs-table-border-color: var(--card-border-color);
    margin-bottom: 0 !important;
    
}

.custom-table th {
    font-weight: 600;
    color: var(--text-color);
    padding: 1em 1.3em 1em 1.3em;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.custom-table td {
    color: var(--text-color);
    padding: 1em 1.3em 1em 1.3em;
}


.table-card .row {
    margin: 0;
}
