.dynamic-sessions-container{
   display: flex;
   justify-content: center;

   .session-card{
      width: 570px;
      height: auto !important;
      margin: 0 1em 0 1em;

   .session-card-data {
      height: auto !important;
   }

   }
}

.grid-container{
   *::-webkit-scrollbar {
     display: none;
      
      
    }
   
}

